<form method="post" action="{{ path('player_delete', {'id': player.id}) }}" class="delete-form"
      onsubmit="return confirm({% trans from 'base' %}confirm_delete{% endtrans %});">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ player.id) }}">
    <button class="btn btn-danger">
        {{ icon('cancel_outlined', 'icon-danger') }}
        {% trans from 'button' %}delete{% endtrans %}
    </button>
</form>
