{% extends 'base.html.twig' %}

{% block title %}
    {% trans from 'base' %}title{% endtrans %} | {% trans from 'nation' %}nation_new{% endtrans %}
{% endblock %}

{% block body %}
    <h1 class="table-header">
        {{ icon('add') }} {% trans from 'nation' %}nation_new{% endtrans %}
    </h1>

    {{ include('nation/form/edit.html.twig') }}

    <a href="{{ path('nation_index') }}" class="btn btn-warning btn-return">
        {{ icon('arrow_back_ios') }} {% trans from 'nation' %}nation_index{% endtrans %}
    </a>
{% endblock %}
