.page-content {
  margin: $margin-page;
}
.btn {
  i {
    vertical-align: bottom;
    &.material-icons {
      width: 24px;
    }
    &.icon-warning, &.icon-danger {
      color: #fff;
    }
  }
  .btn-return {
    float: left;
    display: inline;
  }
}
form {
  &.delete-form {
    display: inline;
    float: right;
  }
}
