.nation-block {
  padding: 0;
  margin: $margin-page;
  position: relative;
  @include border('all', 1px, solid, $color-border-default, 0);
  .nation-name {
    position: absolute;
    font-size: .75rem;
    margin-bottom: $margin-page-half;
    padding: $margin-page-half $margin-page;
    background-color: #fff;
  }
  .nation-image {
    text-align: center;
    @include size(100%, 100px);
    @include background('size', '', 100%, 120px);
    margin-bottom: $margin-page;
  }
  .nation-actions {
    width: 100%;
    text-align: center;
  }
  .nation-players {
    display: block;
    position: relative;
    text-align: center;
    font-size: .8rem;
    margin-top: $margin-page-half;
  }
}
.nation-flag {
  @include size(35px);
  border-radius: 50%;
}
