nav {
  background-color: $color-navbar;
  .navbar-nav {
    width: 100%;
    .nav-logo {
      display: block;
      @include size(60px);
      @include background('cover', $image-logo);
      font-size: 0;
    }
    .nav-item {
      .nav-link {
        margin: 10px;
        color: $color-navbar-link;
        font-weight: 500;
        @include transition(background-color, .5s);
        &:hover {
          color: $color-navbar;
          background-color: $color-navbar-link;
        }
      }
      &.current .nav-link {
        color: $color-navbar;
        background-color: $color-navbar-link;
      }
    }
  }
}
