h1.table-header {
  margin: 1.5rem;
  color: $header-color;
  i {
    vertical-align: sub;
    font-size: 48px;
    color: $header-color;
  }
}
table {
  th, td {
    &.table-first-col {
      width: 10%;
      text-align: center;
    }
  }
  td {
    vertical-align: middle !important;
  }
}
